@model AssetManagementSystemUI.UserViewModel

@{
    ViewData["Title"] = "Admin Login";
    Layout = "~/Views/Shared/_loginLayout.cshtml";
}

<h5>Admin Login</h5>

<hr />
<div class="row">
    <div class="col-md-4">
        <strong style="color: red">@TempData["errormsg"]</strong>
        <form asp-action="AdminLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-outline-primary" />
            </div>
        </form>

        <div>
            <a asp-area="" asp-controller="UserUI" asp-action="Login">Login as User</a>
        </div>
    </div>
</div>
