<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Trace" internalLogFile="C:/Users/bhawana.agrawal/Desktop/Dot_Net_Training2023/Week7/AssetManagementWA/Logs/InnerLog.txt">
	<extensions>
		<add assembly="NLog.Extended" />
	</extensions>

	<targets>
		<target name="logfile" xsi:type="File" fileName="C:/Users/bhawana.agrawal/Desktop/Dot_Net_Training2023/Week7/AssetManagementWA/Logs/${shortdate}_log.txt" layout="${longdate} ${level:uppercase=true} ${message}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>